/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
    transition: transform 300ms ease-in-out;
    transition-delay: 100ms;
    transform: scale(0);
    /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open{
    transform: scale(1);
    /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close{
    transform: scale(0);
    /* transform: translateY(-150%); */
}

button:focus {
    outline: 0;
    outline: 0;
}

@media (min-width: 1024px){

    .gimPoE {
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
    }
    
    .text-white {
        --tw-text-opacity: 100;
        color: rgba(255, 255, 255, var(--tw-text-opacity));
    }
    .dMGucj {
        font-size: 6rem !important;
    }
    
    .eIOVyo {
        justify-content: center !important;
    }
    }

    
    